@import 'variables';

@import 'admin-lte';

@import 'overlayscrollbars/styles/overlayscrollbars.css';


// Definir fonte Liberation
@font-face {
    font-family: 'Liberation Sans';
    src: url('/fonts/liberation/LiberationSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('/fonts/liberation/LiberationSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('/fonts/liberation/LiberationSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('/fonts/liberation/LiberationSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
